<footer class="footer">
    <div class="container text-center">
        <div>
            <span class="sub-text">Information Technology Solutions Center - University of Cincinnati ©
                <%= new Date().getFullYear() %>
            </span>
        </div>
    </div>
</footer>