<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/css.bundle.css' />
    <link rel="stylesheet" href="https://developer.api.autodesk.com/modelderivative/v2/viewers/6.*/style.min.css" type="text/css">
    <script src="https://developer.api.autodesk.com/modelderivative/v2/viewers/6.*/viewer3D.min.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js" integrity="sha256-ji09tECORKvr8xB9iCl8DJ8iNMLriDchC1+p+yt1hSs=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
    <script src='/app.bundle.js'></script>
</head>

<body>
    <% include ./partials/navbar %>

    <body style="overflow:hidden;">
        <div style="width:100vw; height:100vh; position:relative; display:inline-block;">
            <div id="admin-viewer"></div>
        </div>
    
        <div style="width:100vw; height:100vh;display:inline-block;">
          <canvas id="snapshot" style="position:absolute;"></canvas>
        </div>
    
    </body>
    

</body>

</html>